:root {
  --background-color: #252525;
  --text-color: #fff;
  --font-family: "IBM Plex Mono", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-size: 125%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 90vw;
  margin: 4rem;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
}

main {
  min-height: 100vh;
}

textarea {
  width: 100%;
  height: calc(100vh);
  appearance: none;
  font: inherit;
  border: none;
  outline: none;
  color: inherit;
  background: transparent;
  resize: none;
}

textarea::placeholder {
  color: inherit;
  opacity: 0.3;
}
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.3;
}
fieldset {
  display: flex;
  border-color: var(--text-color);
  /* border: none; */
}
input {
  display: inline-block;
}
.lowercase {
  text-transform: lowercase;
}
